@model IEnumerable<CollegeRecord.Models.DesignationMaster>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;">Designation</h1>

@* 
<p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignName)
            </th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesignName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.DesignId">Edit</a> 
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.DesignId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DesignId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
